@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  background: linear-gradient(
    to bottom right,
    rgb(90, 116, 136),
    #293b4b,
    #0f172a
  ); /* change to your desired color */
  margin: 0; /* remove default spacing */
  padding: 0;
  font-family: sans-serif; /* optional */
}
